@model JobGrowthViewModel

<h2 class="govuk-heading-m govuk-!-margin-top-5">Future job growth</h2>
<p class="govuk-body">This information tells you whether jobs in a sector are likely to go up or down in the future.</p>

<div class="dfc-app-lmi-panel panel-green">
    <div class="panel-heading">
        <div class="row">
            <div class="govuk-grid-column-one-third panel-left @Model.GraphicClassName"></div>
            <div class="govuk-grid-column-two-thirds panel-right govuk-!-font-size-48">@Model.PercentageGrowth.ToString("+#,##0.0;-#,##0.0;0.0", System.Globalization.CultureInfo.InvariantCulture)%<span class="govuk-!-font-size-19">@Html.Raw(Model.GrowthDeclineString)</span></div>
        </div>
    </div>
    <div class="panel-footer">
        <p class="govuk-body-m govuk-!-margin-bottom-1">Leading to: @Model.JobsCreated.ToString("#,##0", System.Globalization.CultureInfo.InvariantCulture) @Html.Raw(Model.NewOrLostString) jobs by @Model.EndYearRange</p>
        <partial name="_Source" model="Model.StartYearRange" />
    </div>
</div>

<details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
    <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Note on future job growth </span> </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">This information is based on past employment trends. It may not reflect up to date information about the job market, particularly the impact of Covid-19. This information can help you make a career decision but should not be your only reason for making a career choice. </p>
    </div>
</details>